:root {
  --dark-gray: #484b6a;
  --white: #e4e5f1;
  --light-gray: #d2d3db;
  --dark-blue: #484b6a;
  --text-color: white;
  --border-radius: 24px;
  --button-radius: 24px;
  --card-radius: 16px;
  --font-family: 'Poppins', 'Clash Display', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --transition: all 0.3s ease;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.73);
  --background-blue: #9394a5;
  /* Landing page custom palette */


    /* #fafafa	(250,250,250)
    #e4e5f1	(228,229,241)
    #d2d3db	(210,211,219)
    #9394a5	(147,148,165)
    #484b6a */
}